/* Global */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* Typography */

h1 {
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 3rem;
}

h2 {
    background-color: #424223;
    color: whitesmoke;
    font-size: 200%;
    width: 100%;
    padding: 10px;
    margin-top: 0;
}

h3 {
    font-size: 180%;
    margin-top: 0.5rem;

}

p {
    font-size: 150%;
    line-height: 1.6;
    text-align: left;
}

h1, h2, h3 {
    font-family: sans-serif;
}

/* Layout */

/* navbar */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: lightgray;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: black;
    padding: 10px 20px 0px 10px;
    text-align: center;
    text-decoration: overline;
    font-size: 30px;
}

nav a:hover {
    background-color: black;
    color: #e2e276;
}

/*  Flexbox   */
.flex-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
}

.flex-left {
    padding: 20px 30px;
    flex-basis: 50%;
}

.flex-right {
    padding: 20px 30px;
    flex-basis: 50%;
}

.flex-middle {
    padding: 30px 25%;
}

.flex-left, .flex-right, .flex-middle {
    background-color: #e2e276;
    margin: 15px;
}


footer {
    text-align: center;
    font-size: 150%;
    border-width: 5px;
    background-color: lightgray;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
}

/* Flex-direction on small screen */
@media (max-width: 1000px) {
    .flex-container {
      flex-direction: column;
    }
    .flex-middle {
        padding: 30px;
    }
  }

/* Components */

.centerimage {
    width: 100%;
    padding: 15px;
}